<body>
    <head>
        <!--link rel="stylesheet" type="text/css" href="dropdown.css"-->
        <link rel="stylesheet" type="text/css" href="html/resouces/css/mymap.css">
        <link rel="stylesheet" type="text/css" href="html/resouces/css/ui.dropdownchecklist.standalone.css">
        <link rel="stylesheet" type="text/css" href="html/resouces/css/ui.dropdownchecklist.standalone.css">

        <!-- Include the basic JQuery support (core and ui) -->
        <script type="text/javascript" src="html/resouces/src/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="html/resouces/src/jquery-ui-1.11.2.custom.min.js"></script>
    
        <!-- Include the DropDownCheckList support -->
        <script type="text/javascript" src="html/resouces/js/ui.dropdownchecklist-1.5-min.js"></script>
    
        <!-- Apply dropdown check list to the selected items  -->
        <script type="text/javascript">
        var shapes = [];
            $(document).ready(function() {
            //$("#s1").dropdownchecklist();
            $("#s1").dropdownchecklist({ emptyText: "Выберите трассы ...", width: 150, maxDropHeight: 200,
                 onItemClick: function (checkbox, selector) {

                    if (checkbox.prop("checked")==true){
                        id = checkbox.val();

                       var table = document.getElementById('geometry');
                        var rowslen = table.rows.length;    
                        i = 0;
                        for (i=0; i<rowslen; i++){
                            if (table.rows[i].cells[0].innerHTML==id){
                                var s_geom = table.rows[i].cells[2].innerHTML;
                                var geom = s_geom.split(", ");
                                
                                var reg = new Array(geom.length/2);
                                for (j=0;j<geom.length/2;j++){
                                    var element = {
                                        lng: parseFloat(geom[j*2]),
                                        lat: parseFloat(geom[j*2+1])
                                    };
                                    reg[j] = element;
                                }
                                var regionShape = new google.maps.Polygon({
                                    paths: reg,
                                    strokeColor: '#FF0000',
                                    strokeOpacity: 0.8,
                                    strokeWeight: 1,
                                    fillColor: '#FFB537',
                                    fillOpacity: 0.35
                                });
                                regionShape.setMap(map);
                                shapes.push({
                                    shape:   regionShape,
                                    shape_id: id
                                });
                            }
                        }


                        var table = document.getElementById("selected_geometry");
                        var rowslen = table.rows.length;
                        var row = table.insertRow(rowslen);

                        var cell1 = row.insertCell(0);
                        //var cell2 = row.insertCell(1);
    
                        var input = document.createElement("input");
                        input.type = "text";
                        input.name = "region["+rowslen+"]";
                        input.value = id;
                        input.setAttribute("form", "parameters");
                        cell1.appendChild(input);

                        //var input2 = document.createElement("input");
                        //input2.type = "text";
                        //input2.name = "endTime["+rowslen+"]";
                        //input2.value = to;
                        //input2.setAttribute("form", "parameters");
                        //input2.setAttribute("required", true);
                        //cell2.appendChild(input2);


                    } else {
                        id = checkbox.val();
                        for (i=0;i<shapes.length;i++){
                            if(shapes[i]["shape_id"]==id){
                                shapes[i]["shape"].setMap(null);
                            }
                        }

                        var table = document.getElementById("selected_geometry");
                        var rowslen = table.rows.length;

                        indexToDelete = [];
                        for (i=0;i<rowslen;i++){
                            if(table.rows[i].cells[0].children[0].value==id)
                                indexToDelete.push(i);
                        }

                        for (i = 0; i<indexToDelete.length; i++)
                            table.deleteRow(indexToDelete[i]);
                        

                        
                    }
                }
            });
        });
        </script>

        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=drawing"></script>
        <script src="html/resouces/js/map.js"></script>
        <meta name="viewport" content="initial-scale=1.0">
        <meta charset="utf-8">
    </head>

    <table id = "selected_geometry" name="selected_geometryTable" hidden = "true">
    <!--table id = "selected_geometry" name="selected_geometryTable"-->
            
    </table>

    <table id = "geometry" name="geometryTable" hidden = "true">
            <%= s_erb_regions_script %>
    </table>

   
    
    <div id = "regionSection">
        <fieldset>
        <legend>Выбор региона для отчета</legend>
        <div id = "regionSelector">
            <select id="s1" name = "region" multiple="multiple">
                <%= s_erb_regions %>

                <!--option value='1'>Low</option>
                <option value='2'>MediumMediumMediumMedium</option>
                <option>High</option-->
            </select>
        </div>
        <div id="map"></div>
        </fieldset>
    </div>
    
    <form id = "parameters" action='/send/attinrangeSend'>

    <!--<form method='POST' action='/save'>"-->

    <div id = "otherOptionSection">
        <fieldset>
        <legend>Выбор параметров АТТ</legend>
        <div id="vislabelselector" >
            <select name="vislable" form = "parameters">
                <option>Выберете метку ВИС</option>
                <%= s_erb_labels %>
                
            </select>
        </div>
    
        <div id="attselector">
            <select name = "atttype" form = "parameters">
                <option>Выберете тип АТТ</option>
                <%= s_erb_atttyle %>
            </select>
        </div>
        
        <div id = "includeSubtypesOption">
            Включая подтипы
            <input type = "textbox" name = "includeSubtypes" readonly="true" value = "true" form = "parameters"></input> 
        </div>
        </fieldset>

        <fieldset>
        <legend>Выбор временных диапазонов</legend>
        <div id = "intervalSetupOption">            
            при отсутствии интервала
            <input type = "textbox" name = "interval" readonly="true" value = "15min" form = "parameters"></input> 
        </div>

        <div id = "dtselect">
            С
            <input type="date" id="FromDate" name="FromDate">
            <input type="time" id="FromTime" name="FromTime">
            По
            <input type="date" id="ToDate" name="ToDate">
            <input type="time" id="ToTime" name="ToTime">
            
            <div id = "addTimeButton">
                <button id="AddTimePeriod" onclick="AddPeriod()">Добавить время</button>
            </div>
            <!--datagrid http://myrusakov.ru/html-5-interaktivnye-elementy.html
            required Обязательное для заполнения поле.
            form Связывает текстовое поле с формой по её идентификатору.
            <form id="text"></form>
            <textarea name="comment" placeholder="Комментарий" 
        required form="text">
            -->
            <p>
            <table id = "periodTable" border="1" name="timeTable">
            <col width="150" valign="top">
            <col width="150" valign="top">
                <tr><th>С</th><th>По</th></tr>
            </table>
        </div>
        </fieldset>
    </div>

    <div id = "submitButton" form = "parameters">
        <input type='submit'>
    </div>        
    </form>
        
<!--
    <div id = "getReportForm">
        <form id = "repget" action='/get/attinrangeSend'>
            <fieldset>
            <legend>Получить отчет</legend>
            <div id = "reportGet">
                Введите ID отчета
                <input type = "textbox" name = "reportID" required form="repget"></input> 
            </div>
            <div id = "submitButton2">
                <input type='submit'>
            </div>
             </fieldset>
        </form>
    </div>
-->    
    <!--script src="DropDown.js"></script-->
    <script src="html/resouces/js/TimePicker.js"></script>
</body>